h1 {
    color: #8B0000;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
}

#menu-section {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

td, th {
    border: 1px solid #333;
    padding: 5px 10px;
}